<h1 class="mb-3">About Us</h1>
<h1 class="mb-3">Rob Savoie</h1>
<img class="mb-2" src="../images/Rob.jpg" alt="Server Could Not Load Image">
<p class="mb-2">Rob is a 2nd Year Student at Durham College currently enrolled
    in the Computer Programing Analysis program which is a 3 year course.</p>
<h1 class="mb-3">Rhys Thompson</h1>
<img class="mb-2" src="../images/rhyswithtt.png" alt="Server Could Not Load Image">
<p>Rhys is a 2nd Year Student at Durham College currently enrolled in
the Computer Programing Course which is a 2 year course. Rhys Plans to graduate this semester!</p>
