<h1 class="mb-3">Projects</h1>
<h1 class="mb-3">Rob's Projects</h1>
<img class="mb-2" src="../images/amazon.png" alt="Server Could Not Load Image">
<img class="mb-2" src="../images/Screen_of_Facebook.png" alt="Server Could Not Load Image">
<img class="mb-2" src="../images/twitter.png" alt="Server Could Not Load Image">
<p>Here Rob has worked on Amazon, Facebook, and Twitter's websites during a summer internship.</p>
<hr>
<h1 class="mb-3">Rhys's Projects</h1>
<img class="mb-2" src="../images/parkhub.png" alt="Server Could Not Load Image">
<img class="mb-2" src="../images/windows7.png" alt="Server Could Not Load Image">
<img class="mb-2" src="../images/scaffold.png" alt="Server Could Not Load Image">
<p>Here Rhys has worked on a scaffolding project, using virtual machine to work on Windows 7 and created an app using
    C#.</p>


