.img-timetable {
    width: 500px;
    height: 400px;
}

.background {
max-width: 100%;
    height: max-content;
}
.rhysh1 {
    font-size: large;
}
.rhysp1 {
    font-family: Verdana, serif;
    font-size: medium;
}
.nav-item:hover {
    background-color: aqua;
}

